.metascore {
  position: relative;
  left: 0px;
  top: -2rem;
}

.card {
  border: 1px solid #1f1f1f;
  transition: transform 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.03);
  background-color: rgb(185, 185, 248);
  box-shadow: 0px -1px 46px 22px rgba(45,41,219,0.96);
  -webkit-box-shadow: 0px -1px 46px 22px rgba(45,41,219,0.96);
  -moz-box-shadow: 0px -1px 46px 22px rgba(45,41,219,0.96);
}
